* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
}

body {
  padding: 1rem;
}

label {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#info {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid #000;
  padding-top: 0.5rem;
}

#check-btn {
  background-color: #00ff00;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
}

#text-input {
  font-size: 1rem;
  border: 2px solid #000;
  margin-bottom: 0.5rem;
}


#result {
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.not {
  color: red;
}

@media (max-width: 700px) {
  div {
    width: 100%;
  }
}
